.container_movie{
    margin: 10px;
}
.container_movie_inside{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
.container_movie_poster{
    margin: 2px;
}
.container_movie_poster img {
    border: 2px solid;
    width: 100%;
    border-color: lavender;   
}



.review{
    color: white;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
}

.review ul li{
 list-style: none;
 text-align: left;
}


.container_movie_outside{
    text-align: -webkit-center;
    box-sizing: border-box;
    font-size: 25px;
}

.container_movie_outside p{
    color: white;
}


.option_a{
    border: 1px solid #ffffff;
    margin: 10px 10px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 2px;
    width: 100%;     
    cursor: pointer;
    background-color: thistle;
}

.option_a:active{
    background: #4CA1AF;
}

.download_option{
    display: flex;
}

span {
    color: #ffffff;
}
.container_movie_detail h3{
    letter-spacing: 0.3cm;
    font-size: 20px;
}

.container_movie_detail{
    text-align: center;
    font-size: 15px;
    color: white;
}

.container_movie_detail p{
    font-size: 25px;
}

.screenshot_01, .screenshot_02,.screenshot_03, .screenshot_04{
    margin: 10px;
    padding: 5px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 20px;
}


.screenshot img{
    height: 300px;
    border: 2px solid white;
}

.video{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video video{
    border: 5px solid white;
}


@media only screen and (max-width: 900px) {
    .container_movie_detail p{
        font-size: 15px;
    }
    
    .review{
        font-size: 15px;
    }


    .container_movie_inside{
        flex-direction: column;
    }

    .video{
        margin: 10px;
        padding: 5px;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .screenshot_01, .screenshot_02,.screenshot_03, .screenshot_04{
        margin: 2px;
        padding: 2px;
        font-size: 15px;
        
    }
    
    .screenshot img{
        width: 100%;
        border: 2px solid white;
        
    }

    .option_a{
    width: 100%;
    }

}
